$color-light: #fff;
$color-accent: #45B400;
$color-neutral: #2e2e2e;
$font-heading: 'Comfortaa', cursive;
$font-body:  "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin responsive-background($url, $pref) {
  background-image: url($url + '?w=500fit=max&auto=format' + $pref);
  @media screen and (-webkit-min-device-pixel-ratio: 2), 
    screen and(min-resolution: 192dpi) {
      background-image: url($url + '?w=500&dpr=2&fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 500px) {
    background-image: url($url + '?w=750fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 500px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 500px) and(min-resolution: 192dpi) {
      background-image: url($url + '?w=750&dpr=2&fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 750px) {
    background-image: url($url + '?w=1000fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 750px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 750px) and(min-resolution: 192dpi) {
      background-image: url($url + '?w=1000&dpr=2&auto=format' + $pref);
  }
  @media screen and (min-width: 1000px) {
    background-image: url($url + '?w=1250fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 1000px) and(min-resolution: 192dpi) {
      background-image: url($url + '?w=1000&dpr=2&auto=format' + $pref);
  }
  @media screen and (min-width: 1250px) {
    background-image: url($url + '?w=1600fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 1250px) and(min-resolution: 192dpi) {
      background-image: url($url + '?w=1000&dpr=2&auto=format' + $pref);
  }
  @media screen and (min-width: 1600px) {
    background-image: url($url + '?w=2000fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 1600px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 1600px) and(min-resolution: 192dpi) {
      background-image: url($url + '?w=1000&dpr=2&auto=format' + $pref);
  }
  @media screen and (min-width: 2000px) {
    background-image: url($url + '?w=2400fit=max&auto=format' + $pref);
  }
  @media screen and (min-width: 2000px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 2000px) and(min-resolution: 192dpi) {
      background-image: url($url + '?w=1000&dpr=2&auto=format' + $pref);
  }
}

@mixin illustration-background($url, $pref) {
  background-image: url($url + '?w=400fit=max&auto=format' + $pref);
  @media screen and (-webkit-min-device-pixel-ratio: 2), 
    screen and(min-resolution: 192dpi) {
      background-image: url($url + '?w=400&dpr=2&fit=max&auto=format' + $pref);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-body;
  color: $color-neutral;
  font-size: 18px;
}

p {
  line-height: 1.4;
  margin: 0;
}
p + p {
  margin-top: 1rem;
}

h1 {
  margin: 0;
  font-family: $font-heading;
  font-size: 3rem;
  background-color: rgba($color-accent, .7);
  display: inline;
  color: $color-light;
  max-width: 40rem;
  line-height: 1.4;
  padding: .2rem .5rem;
}

h2 {
  margin: 0;
  font-family: $font-heading;
  background-color: $color-accent;
  color: $color-light;
  padding: 1rem 2rem .4rem;
  font-size: 2.2rem;
}

h3 {
  font-family: $font-heading;
  color: $color-accent;
  font-size: 2rem;
  line-height: 1.2;
  margin: 1rem 2rem .6rem;
}

.point {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  h2 {
    margin: 0 0 .8rem;
  }
}

.section-text {
  color: $color-neutral;
  max-width: 40rem;
  @media screen and (min-width: 700px) {
    margin: 0;
  }
  p {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  p:last-child {
    margin-bottom: 2rem;
  }
}
:not(.stack) .section-text {
  background-color: rgba($color-light, .8);
  margin: 1em;
}

.point:not(.stack)::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 700px) {
    position: initial;
    height: auto;
    flex: 1 0 40%;
  }
}
.point.stack {
  flex-direction: column;
  @media screen and (min-width: 700px) {
    flex-direction: row;
  }
}
.point.stack::before {
  min-height: 70vh;
  content: '';
  height: auto;
  flex: 1 0 40%;
  background-size: cover;
  background-position: center;
}

.point:nth-of-type(odd)::before {
  order: 1;
}

#site-header {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: $color-light;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (min-width: 600px) {
    justify-content: space-between;
  }
}

.site-header-logo {
  max-height: 70px;
  max-width: 60%;
  margin: .4rem 1rem 0;
}

.call-to-action {
  background-color: #ffe500;
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: .6rem .8rem;
  font-size: 1.4rem;
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  margin-top: .6rem;
}
.call-to-action p {
  margin: 0;
}
.call-to-action dfn {
  font-style: normal;
  font-weight: bold;
}
a[href^="tel:"] {
  color: $color-neutral;
  text-decoration: none;
}

#site-header-nav ul {
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2rem;
  display: flex;
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}

#site-header-nav li {
  margin: 0 .5rem;
}

#site-header-nav a {
  color: $color-accent;
  text-decoration: none;
}

#hero {
  @include responsive-background('https://207.imgix.net/kids-in-forest.jpg', '&crop=entropy');
  background-size: cover;
  background-position: 20% 50%;
  display: flex;
  align-items: center;
  min-height: 75vh;
  .section-text {
    background-color: transparent;
    max-width: 30rem;
    margin: 1rem 2rem;
  }
}
#mission.point::before {
  @include illustration-background('https://207.imgix.net/caleb-kneeling.jpg', '&crop=entropy');
}
#removal.point::before {
  @include illustration-background('https://207.imgix.net/ropes.jpg', '&crop=entropy');
}
#pruning.point::before {
  @include illustration-background('https://207.imgix.net/climber.jpg', '&crop=entropy');
}
#year-round.point::before {
  @include illustration-background('https://207.imgix.net/phil.jpg', '&crop=entropy');
}
#green.point::before {
  @include illustration-background('https://207.imgix.net/fire-wood-1.jpg', '&crop=entropy');
}
#about.point::before {
  @include illustration-background('https://207.imgix.net/silhouette.jpg', '&crop=entropy');
  order: 1;
}
#contact.point::before {
  @include illustration-background('https://207.imgix.net/customer.jpg', '&crop=entropy');
}

form {
  margin: 0 2rem;
}
label {
  display: block;
  margin: 1rem 0 .4rem;
  font-weight: bold; 
}
input, select, textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: .4rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
textarea {
  min-height: 200px;
}
input[type="file"] {
  border: transparent;
  padding: 0;
}
input[type="submit"] {
  margin: 1rem 0 2rem;
  background-color: $color-accent;
  border: transparent;
  color: $color-light;
}